{% extends 'base.html' %}
{% load static %}
{% block title %}
    Author List
{% endblock %}
{% block content %}
    <h2 class="text-danger">Authors</h2><br>
    {% for author in authors %}

        <div class="row border rounded p-1 m-2">
            <div class="col-2">
                <img src="{{ author.avatar.url }}" alt="No img..." class="img-fluid">
            </div>
            <div class="col-6 py-5">
                <a href="{% url 'books:author_detail' author.id %}">
                    <h2>{{ author.first_name }} {{ author.last_name }}</h2></a>
                <a href="{{ author.website }}">{{ author.website }}</a>
            </div>
        </div>
    {% endfor %}
        <a href="{% url 'books:author_create' %}" class="btn btn-outline-primary">Add new author</a>


{% endblock %}