{% extends 'base.html' %}
{% load static %}
{% block title %}
    Book list
{% endblock %}
{% block content %}
    <h2 class="my-3 text-danger">Books</h2>
    {% for book in books %}
        <div class="row py-3">
            <div class="col-3">
                <img src="{{ book.cover.url }}" alt="No img..." class="img-fluid">
            </div>
            <div class="col-6">
                <a href="{% url 'books:book_detail' book.slug %}">
                    <h3>{{ book.title }}</h3>
                </a>
                <a href="#">
                    <h5>{{ book.author }}</h5>
                </a>
                <p>{{ book.description }}</p>
            </div>
        </div>
        <hr>
    {% empty %}
        <div class="alert alert-secondary text-center">
        <h5>No books</h5>
            <a href="{% url 'homepage' %}">Back to homepage</a>
        </div>
    {% endfor %}

        <a href="{% url 'books:book_create' %}" class="btn btn-outline-primary">Add new book</a>

{% endblock %}