{% extends 'base.html' %}
{% load static %}
{% block title %}
    Homepage
{% endblock %}
{% block content %}
    <div class="row">
        <h1 class="text-danger">BOOKS</h1>
    <p>ook is a medium for recording information in the form of writing or images. Books are typically composed of many pages, bound together and protected by a cover.[1] Modern bound books were preceded by many other written mediums, such as the codex and the scroll. The book publishing process is the series of steps involved in their creation and dissemination.</p>
    </div>
{% endblock %}
